/* App.css or your global CSS file */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  }
  
  .Footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  